<div class="sidebar-mobile">
  <aside class="col sidebar">
    <slot />
  </aside>
</div>

<style is:inline>
  aside.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  @media (max-width: 700px) {
    div.sidebar-mobile {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    aside.sidebar {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
    }
  }
</style>
