---
const posts = (await Astro.glob("../../pages/news/*.mdx")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<aside class="col sidebar">
  <section class="pod">
    <a class="title-bar" href="/news">News</a>
    <section class="inner-pod">
      <ul class="ul-list">
        {
          posts.map((post) => (
            <li>
              <a class="li-link" href={post.url}>
                {post.frontmatter.title}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </section>
</aside>

<style>
  aside.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  @media (max-width: 700px) {
    aside.sidebar {
      width: 100%;
    }
  }
</style>
