@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* background colors */
  --color-body: #051e35;
  --color-main-content: linear-gradient(
    180deg,
    rgb(61, 115, 182) 0%,
    rgb(25, 81, 149) 100%
  );
  --color-bg-container: rgba(0, 0, 0, 0.2);
  --color-bg-variant: #282828;
  /* element colors */
  --color-text: #fff;
  --color-href: #42eaa4;
  --color-href-hover: #68febf;
  --color-text-muted: #ffffff85;
  --color-border: 1px solid #00000059;
  --color-border-subtle: 1px solid rgba(255, 255, 255, 0.35);

  --color-container-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);

  --radius-1: 4px;
  --radius-2: 8px;

  --radius-3: 16px;

  --breakpoint: 980px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0 0.5rem;
  background: var(--color-body);
  color: var(--color-text);
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-href);
}

a:hover {
  color: var(--color-href-hover);
  text-decoration: underline;
}

hr {
  margin: 0;
  padding: 0;
  border: 0;
  margin: 1rem 0;
  border-bottom: var(--color-border-subtle);
}

code,
.code {
  padding: 0.25rem 0.5rem;
  display: block;
  background: var(--color-bg-container);
  border-radius: var(--radius-1);
  border: var(--color-border-subtle);
  box-shadow: var(--color-container-shadow);
}
