/* container */

@font-face {
  font-family: "SquareFont";
  src: url("/fonts/Square.woff") format("woff");
}

@media (min-width: 700px) {
  .row {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

.row {
  margin: 1rem 0 1rem 0;
  gap: 0.5rem;
}

.col {
  width: 100%;
}

.main-container {
  padding: 0 0.15rem 0 0.15rem;
  margin: 0 auto;
  max-width: var(--breakpoint);
  overflow: hidden;
}

.container {
  background: var(--color-bg-container);
  border-radius: var(--radius-2);
}

.title-bar {
  font-family: "SquareFont";
  font-size: 0.95rem;
  letter-spacing: 1px;
  padding: 0 0.5rem 0 0.5rem;
  border-bottom: var(--color-border-subtle);
}

.pod {
  background-color: var(--color-bg-container);
  border: var(--color-border-subtle);
  border-radius: var(--radius-1);
  box-shadow: var(--color-container-shadow);
  overflow: hidden;
}

.pod-small {
  margin: 0 auto;
  max-width: 70ch;
  margin-bottom: 1rem;
}

.inner-pod {
  padding: 0.5rem;
}

.card {
  padding: 0.5rem;
  border-radius: var(--radius-1);
  outline: var(--color-border-subtle);
  box-shadow: var(--color-container-shadow);
  background-color: var(--color-bg-container);
}

.cards-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ul-list {
  display: block;
  width: 100%;
  list-style-type: none;
}

.card-ul > li {
  margin-left: 1rem;
}

.href-img {
  margin-top: 0.15rem;
  display: inline-block;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-right-spacing {
  margin-left: 0.35rem;
}

.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 700px) {
  .cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}
