/* container */

@media (min-width: 800px) {
  .row {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

div.main-container {
  margin: 0 auto;
  border-bottom-left-radius: var(--radius-2);
  border-bottom-right-radius: var(--radius-2);
  outline: var(--color-border);
  background: var(--color-main-content);
  max-width: var(--breakpoint);
  box-shadow: var(--shadow-main);
  overflow: hidden;
}

section.col {
  width: 100%;
}

section.content {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--color-bg-container);
  border-radius: var(--radius-3);
  border: var(--color-border-subtle);
  box-shadow: var(--shadow-negative);
  text-shadow: var(--color-text-shadow);
}

.top-br {
  margin-top: 1rem;
}

.subtitle {
  font-size: 1.1rem;
  font-weight: 500;
}

.user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card {
  padding: 0.5rem;
  border-radius: var(--radius-1);
  outline: var(--color-border-subtle);
  box-shadow: var(--color-container-shadow);
  background-color: var(--color-bg-container);
}

section.content-right {
  border: 0;
  border-top: var(--color-border-subtle);
  border-right: 0;
  border-bottom: var(--color-border-subtle);
  border-left: var(--color-border-subtle);
}

.card-ul > li {
  margin-left: 1rem;
}

.href-img {
  margin-top: 0.15rem;
  display: inline-block;
}

.full {
  width: 100%;
}

.center {
  text-align: center;
}

@media (max-width: 800px) {
  section.content {
    border-left: 0;
    border-right: 0;
  }
}
