<marquee onmouseover="this.stop()" onmouseout="this.start()">
  <section class="slide-container">
    <slot />
  </section>
</marquee>

<style is:inline>
  marquee {
    margin: 0;
    padding: 0;
    height: 31px;
  }
  marquee img {
    image-rendering: pixelated;
  }
  section.slide-container {
    display: flex;
    gap: 0.25rem;
  }
</style>
