---
import MainLayout from "../layouts/MainLayout.astro";

const title = "NaviNet";
const description = "The open source web portal";
---

<MainLayout title={title} description={description}>
  <section class="pod">
    <p class="title-bar">About NaviNet</p>
    <section class="inner-pod">
      <p>
        NaviNet is a web portal created for those who love the old net but also
        for those who hate the new web and want to take back the internet and
        return to the good old times.
      </p>
      <p>
        Learn more about us on the <a href="/about">about</a> page. Thanks for using
        NaviNet!
      </p>
    </section>
  </section>
  <section class="pod">
    <p class="title-bar">Support NaviNet</p>
    <section class="inner-pod">
      <p>If you like to support us just add our button to your website!</p>
      <a
        class="href-img"
        href="http://navinet-open.github.io"
        aria-label="NaviNet Button"
        ><img
          src="/buttons/navinet.png"
          style="image-rendering:pixelated; width:88px; height:31px;"
          alt="NaviNet Button"
        />
      </a>
      <code>
        &lt;a href="http://navinet-open.github.io" aria-label="NaviNet
        Button"&gt;&lt;img src="/buttons/navinet.png"
        style="image-rendering:pixelated; width:88px; height:31px;" alt="NaviNet
        Button"/&gt;&lt;/a&gt;
      </code>
    </section>
  </section>
</MainLayout>
