---
import HeaderButtons from "./HeaderButtons.astro";
import HeaderLinks from "./HeaderLinks.astro";
---

<header class="user-select">
  <a class="go-to-index" href="/">NaviNet</a>
  <nav>
    <HeaderLinks href="/news">News</HeaderLinks>
    <HeaderLinks href="/about">About</HeaderLinks>
  </nav>
</header>

<nav class="superbar">
  <HeaderButtons href="/search">Search</HeaderButtons>
  <HeaderButtons href="/games">Games</HeaderButtons>
</nav>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 1rem 0.25rem 1rem;
    box-shadow: var(--color-container-shadow);
    background: var(--color-bg-container);
    border: var(--color-border-subtle);
    border-top: 0;
    border-bottom-left-radius: var(--radius-1);
    border-bottom-right-radius: var(--radius-1);
  }
  header a.go-to-index {
    font-family: "SquareFont";
    font-size: 1.75rem;
    font-weight: 600;
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff49 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  header a.go-to-index {
    text-decoration: none;
  }
  header a.go-to-index:hover {
    color: var(--color-text);
    text-decoration: underline;
  }
  header nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem 1rem;
    background-color: var(--color-bg-container);
    border: var(--color-border-subtle);
    border-radius: var(--radius-1);
    box-shadow: var(--color-container-shadow);
  }
  nav.superbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.25rem;
    padding: 0.25rem;
    margin: 1rem 0 1rem 0;
    background-color: var(--color-bg-container);
    border: var(--color-border-subtle);
    border-radius: var(--radius-1);
    box-shadow: var(--color-container-shadow);
  }
  @media (max-width: 500px) {
    header {
      flex-direction: column;
      padding-bottom: 0.75rem;
    }
  }
</style>
