---
const today = new Date();
---

<footer>
  <section class="footer-card flex">
    <a href="/about">About</a>
    <a href="/rss.xml">RSS</a>
    <a href="/sitemap-index.xml">Sitemap</a>
    <a href="/about/privacy">Privacy Policy</a>
  </section>
  <section class="footer-card">
    <p>&copy; {today.getFullYear()} NaviNet</p>
  </section>
</footer>
<style>
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 1rem auto;
    padding: 0 0.5rem;
    border: var(--color-border-subtle);
    border-radius: var(--radius-1);
    background: var(--color-bg-container);
    max-width: var(--breakpoint);
  }
  footer section.footer-card {
    text-align: center;
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
  }
  footer section.flex {
    display: flex;
    gap: 0.75rem;
  }
  footer section.flex a:first-child {
    border-left: 0;
    padding-left: 0;
  }
  a {
    padding-left: 0.75rem;
    border-left: var(--color-border-subtle);
  }
  p {
    color: var(--color-text-muted);
  }
  @media (max-width: 500px) {
    footer section.flex {
      width: 50%;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.15rem;
    }
    footer section.flex a:first-child,
    a {
      width: 100%;
      text-align: left;
      padding-left: 0;
      border-left: 0;
      font-size: 0.95rem;
      padding: 0.25rem;
    }
  }
</style>
