---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer.astro";
import Aside from "../components/Aside/Aside.astro";

const { content } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={content.title} description={content.description} />
    <style is:inline>
      h1 {
        font-size: 1.25rem;
      }
    </style>
  </head>
  <div class="main-container">
    <Header />
    <div class="row">
      <Aside />
      <section class="col cards-flex">
        <section class="pod">
          <p class="title-bar">{content.title}</p>
          <section class="inner-pod">
            <slot />
          </section>
        </section>
      </section>
    </div>
  </div>
  <Footer />
</html>
