---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer.astro";
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .row {
        grid-template-columns: 1fr;
      }
    </style>
  </head>

  <div class="main-container">
    <Header />
    <section class="pod pod-small">
      <p class="title-bar">{title} [beta]</p>
      <section class="inner-pod flex-center">
        <slot />
      </section>
    </section>
  </div>
  <Footer />
</html>
